
  <div id="contact" class="contact-us section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <div class="section-heading wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">
            <h6>Contact Us</h6>
            <h4>Get In Touch With Us <em>Now</em></h4>
            <div class="line-dec"></div>
          </div>
        </div>
        <div class="col-lg-12 wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.25s">
          <form id="contact" action="" method="post">
              {% csrf_token %}
            <div class="row">
              <div class="col-lg-12">
                <div class="contact-dec">
                  <img src="static/assets/images/contact-dec-v3.png" alt="">
                </div>
              </div>
              <div class="col-lg-5">
                <div id="map">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2995.525322171044!2d69.28415417657018!3d41.34093419887453!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38ae8b534175ed31%3A0x52a8f9d9414a2ad8!2z0KLQsNGI0LrQtdC90YLRgdC60LjQuSDRg9C90LjQstC10YDRgdC40YLQtdGCINC40L3RhNC-0YDQvNCw0YbQuNC-0L3QvdGL0YUg0YLQtdGF0L3QvtC70L7Qs9C40Lkg0LjQvNC10L3QuCDQnNGD0YXQsNC80LzQsNC00LAg0LDQuy3QpdC-0YDQsNC30LzQuNC5!5e0!3m2!1sru!2s!4v1700649157525!5m2!1sru!2s" width="100%" height="636px" frameborder="0" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
              </div>
              <div class="col-lg-7">
                <div class="fill-form">
                  <div class="row">
                    <div class="col-lg-4">
                      <div class="info-post">
                        <div class="icon">
                          <img src="static/assets/images/phone-icon.png" alt="">
                          <a href="#">+998 ** *** ** **</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4" style="padding: 0 0">
                      <div class="info-post">
                        <div class="icon">
                          <img src="static/assets/images/email-icon.png" alt="">
                          <a href="#">uzeduplanet@email.com</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="info-post">
                        <div class="icon">
                          <img src="static/assets/images/location-icon.png" alt="">
                          <a href="#">Tashkent, Uzbekistan</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <fieldset>
                        {{ form.full_name }}
                      </fieldset>
                      <fieldset>
                        {{ form.email }}
                      </fieldset>
                      <fieldset>
                        {{ form.phone_number }}
                      </fieldset>
                    </div>
                    <div class="col-lg-6">
                      <fieldset>
                        {{ form.message }}
                      </fieldset>
                    </div>
                    <div class="col-lg-12">
                      <fieldset>
                        <button href="{% url 'contact_us_success' %}" type="submit" id="form-submit" class="main-button ">Send Message Now</button>
                      </fieldset>
                    </div>
                      {{ error }}
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
