{% extends 'base.html' %}
{% block title %}Edu Planet{% endblock title %}
{% block content %}


  <div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-6 align-self-center">
              <div class="left-content show-up header-text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
                <div class="row">
                  <div class="col-lg-12">
                      {% if not user.is_authenticated %}
                          <h6>Educational Planet</h6>
                      {% else %}
                          <h6>Welcome to Educational Planet, <b>{{ user.first_name }} {{ user.last_name }}</b></h6>
                      {% endif %}
                    <h2>Where Learning Centers Align for You</h2>
                    <p>Welcome to <b>EduPlanet</b>, where we are passionate about education and dedicated to helping individuals achieve their learning goals.</p>
                  </div>
                  <div class="col-lg-12">
                    <div class="border-first-button scroll-to-section">
                      <a href="#centers">Centers</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="right-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
<!--                <img src="assets/images/EduPlanet_logo_blue-removebg.png" alt="">-->
                <img src="static/assets/images/logosvg.svg" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div id="about" class="about section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-6">
              <div class="about-left-image  wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.5s">
                <img src="static/assets/images/about-dec-v3.png" alt="">
              </div>
            </div>
            <div class="col-lg-6 align-self-center  wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
              <div class="about-right-content">
                <div class="section-heading">
                  <h6>About Us</h6>
                  <h4>What is <em>EduPlanet</em></h4>
                  <div class="line-dec"></div>
                </div>
                <p>Our mission is to provide a nurturing and stimulating learning environment that promotes growth, learning and skill development. We strive to empower students of all ages by offering a variety of educational programs tailored to individual needs.</p>
                <div class="row">
                  <div class="col-lg-4 col-sm-4">
                    <div class="skill-item first-skill-item wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
                      <div class="progress" data-percentage="90">
                        <span class="progress-left">
                          <span class="progress-bar"></span>
                        </span>
                        <span class="progress-right">
                          <span class="progress-bar"></span>
                        </span>
                        <div class="progress-value">
                          <div>
                            90%<br>
                            <span>Coding</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-sm-4">
                    <div class="skill-item second-skill-item wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
                      <div class="progress" data-percentage="80">
                        <span class="progress-left">
                          <span class="progress-bar"></span>
                        </span>
                        <span class="progress-right">
                          <span class="progress-bar"></span>
                        </span>
                        <div class="progress-value">
                          <div>
                            80%<br>
                            <span>Photoshop</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-sm-4">
                    <div class="skill-item third-skill-item wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
                      <div class="progress" data-percentage="80">
                        <span class="progress-left">
                          <span class="progress-bar"></span>
                        </span>
                        <span class="progress-right">
                          <span class="progress-bar"></span>
                        </span>
                        <div class="progress-value">
                          <div>
                            80%<br>
                            <span>Animation</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="centers" class="services section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading  wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.5s">
<!--            <h6>Learning Centers</h6>-->
            <h4>Learning <em>Centers</em></h4>
            <div class="line-dec"></div>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="naccs">
            <div class="grid">
              <div class="row">
                <div class="col-lg-12">
                  <div class="menu">
                    <div class="first-thumb active">
                      <div class="thumb">
                        <span class="icon"><img src="static/assets/images/service-icon-01.png" alt=""></span>
                        Programming
                      </div>
                    </div>
                    <div>
                      <div class="thumb">
                        <span class="icon"><img src="static/assets/images/service-icon-02.png" alt=""></span>
                        Design
                      </div>
                    </div>
                    <div>
                      <div class="thumb">
                        <span class="icon"><img src="static/assets/images/service-icon-03.png" alt=""></span>
                        Robotics
                      </div>
                    </div>
                    <div>
                      <div class="thumb">
                        <span class="icon"><img src="static/assets/images/service-icon-04.png" alt=""></span>
                        Languages
                      </div>
                    </div>
                    <div class="last-thumb">
                      <div class="thumb">
                        <span class="icon"><img src="static/assets/images/service-icon-01.png" alt=""></span>
                        Kids
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <ul class="nacc">
                    <li class="active">
                      <div>
                        <div class="thumb">
                          <div class="row">
                            <div class="col-lg-6 align-self-center">
                              <div class="left-text">
                                <h4 class="border-first-button"><a href="{% url 'centers_by_category' slug='programming' %}">Programming</a></h4>
                                <p>Start your programming journey with instruction from renowned learning centers dedicated to developing coding skills and developing a deep understanding of programming languages.</p>
                                    <div class="ticks-list"><span><i class="fa fa-check"></i> Python</span><span><i class="fa fa-check"></i> Django</span><span><i class="fa fa-check"></i> HTML/CSS</span></div>
                                    <div class="ticks-list"><span><i class="fa fa-check"></i> JS</span><span><i class="fa fa-check"></i> Mobile</span></div>
                                <p>Discover a variety of reputable online platforms, each offering a unique approach to learning that caters to different skill levels and interests in programming.</p>
                              </div>
                            </div>
                            <div class="col-lg-6 align-self-center">
                              <div class="right-image">
                                <img src="static/assets/images/services-image-02.jpg" alt="">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div>
                        <div class="thumb">
                          <div class="row">
                            <div class="col-lg-6 align-self-center">
                              <div class="left-text">
                                <h4 class="border-first-button"><a href="{% url 'centers_by_category' slug='design' %}">Design</a></h4>
                                <p>Explore these awesome places where you can learn to make cool stuff! They're like magical schools for design where you can learn about making things look amazing.
                                </p>
                                <div class="ticks-list"><span><i class="fa fa-check"></i> Graphic Design</span> <span><i class="fa fa-check"></i> UI/UX Design</span> <span><i class="fa fa-check"></i> 3D Design</span>
                                  <span><i class="fa fa-check"></i> InDesign</span> <span><i class="fa fa-check"></i> Photoshop</span> <span><i class="fa fa-check"></i> Illustrator</span></div>
                                <p>From drawing to building, there's something for everyone, no matter if you're just starting or a total pro!</p>
                              </div>
                            </div>
                            <div class="col-lg-6 align-self-center">
                              <div class="right-image">
                                <img src="static/assets/images/services-image-03.jpg" alt="">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div>
                        <div class="thumb">
                          <div class="row">
                            <div class="col-lg-6 align-self-center">
                              <div class="left-text">
                                <h4 class="border-first-button"><a href="{% url 'centers_by_category' slug='robotics' %}">Robotics</a></h4>
                                <p>These great online places will help you learn all about robots. They seem like fun schools with great ways to teach robots to anyone, whether you're just starting out or already a pro!</p>
                                <div class="ticks-list"><span><i class="fa fa-check"></i> Simulators</span> <span><i class="fa fa-check"></i> AutoCAD</span> <span><i class="fa fa-check"></i> Raspberry Pi</span>
                                  <span><i class="fa fa-check"></i> Arduino IDE</span> <span><i class="fa fa-check"></i> SolidWorks</span> <span><i class="fa fa-check"></i> Robot Framework</span></div>
                                <p>From basic concepts to advanced applications, these centers offer distinct methodologies tailored for hobbyists and professionals alike.</p>
                              </div>
                            </div>
                            <div class="col-lg-6 align-self-center">
                              <div class="right-image">
                                <img src="static/assets/images/services-image-04.jpg" alt="">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div>
                        <div class="thumb">
                          <div class="row">
                            <div class="col-lg-6 align-self-center">
                              <div class="left-text">
                                <h4 class="border-first-button"><a href="{% url 'centers_by_category' slug='languages' %}">Languages</a></h4>
                                <p>Discover great fun places where learning new languages becomes an exciting adventure! They are like hidden treasures for learning new languages and learning about different cultures.
                                </p>
                                <div class="ticks-list"><span><i class="fa fa-check"></i> English</span> <span><i class="fa fa-check"></i> Russian</span> <span><i class="fa fa-check"></i> Korean</span>
                                  <span><i class="fa fa-check"></i> Chinese</span> <span><i class="fa fa-check"></i> Duolingo</span> <span><i class="fa fa-check"></i> Google Translate</span></div>
                                <p>Get ready for an immersive language journey that will have you chatting effortlessly in no time!</p>
                              </div>
                            </div>
                            <div class="col-lg-6 align-self-center">
                              <div class="right-image">
                                <img src="static/assets/images/services-image-02.jpg" alt="">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div>
                        <div class="thumb">
                          <div class="row">
                            <div class="col-lg-6 align-self-center">
                              <div class="left-text">
                                <h4 class="border-first-button"><a href="{% url 'centers_by_category' slug='kids' %}">Kids</a></h4>
                                <p>Hey there, little explorers! These super cool places are like playgrounds full of fun games and activities that also teach you awesome stuff!
                                </p>
                                <div class="ticks-list"><span><i class="fa fa-check"></i> Computer basics</span> <span><i class="fa fa-check"></i> Google apps</span> <span><i class="fa fa-check"></i> Scratch</span>
                                  <span><i class="fa fa-check"></i> SmartGames</span> <span><i class="fa fa-check"></i> Blockly</span> <span><i class="fa fa-check"></i> Khan Academy Kids</span></div>
                                <p>Get on board and discover a world of amazing discoveries and have an absolute blast!</p>
                              </div>
                            </div>
                            <div class="col-lg-6 align-self-center">
                              <div class="right-image">
                                <img src="static/assets/images/services-image.jpg" alt="">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>




{% include 'blog.html' %}
    
{% include 'contact_us.html' %}


{% endblock %}
