{% extends 'base.html' %}
{% load static %}
{% block title %}Edit Profile{% endblock title %}

{% block content %}

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/auth/edit_profile.css" rel="stylesheet">

    <br><br><br><br><br>

    <div class="container">
    <div class="row flex-lg-nowrap">

      <div class="col">
        <div class="row">
          <div class="col mb-3">
            <div class="card">
              <div class="card-body">
                <div class="e-profile">
                  <div class="row">
                    <div class="col-12 col-sm-auto mb-3">
                      <div class="mx-auto" style="width: 140px;">
                        <div class="d-flex justify-content-center align-items-center rounded" style="height: 140px; background-color: rgb(233, 236, 239);">
{#                          <span style="color: rgb(166, 168, 170); font: bold 8pt Arial;">140x140</span>#}
                            {% if user_profile.image %}
                            <img src="{{ user_profile.image.url }}" alt="..." class="img-fluid">
                            {% else %}
                            <span style="color: rgb(166, 168, 170); font: bold 8pt Arial;">140x140</span>
                            {% endif %}
                            
                        </div>
                      </div>
                    </div>
                    <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                      <div class="text-center text-sm-left mb-2 mb-sm-0">
                        <h4 class="pt-sm-2 pb-1 mb-0 text-nowrap">{{ user_profile.first_name}} {{ user_profile.last_name }}</h4>
                        <p class="mb-0">{{ user_profile.email }}</p>
                          
                      </div>
                      <div class="text-center text-sm-right">
                        <div class="text-muted"><small>Last login: {{ user_profile.last_login }}</small></div>
                      </div>
                    </div>
                  </div>
                  <ul class="nav nav-tabs">
                    <li class="nav-item"><a href="" class="active nav-link">Settings</a></li>
                  </ul>
                  <div class="tab-content pt-3">
                    <div class="tab-pane active">
                      <form class="form" method="post" enctype="multipart/form-data">
                          {% csrf_token %}
                        <div class="row">
                          {{ form.as_p }}
                        </div>
                        <div class="row">
                          <div class="col-12 col-sm-6 mb-3">
                            <div class="mb-2"><b>Change Password</b></div>
                            <div class="row">
                              <div class="col">
                                <div class="form-group">
                                  <label>Current Password</label>
                                  <input class="form-control" type="password" placeholder="••••••">
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col">
                                <div class="form-group">
                                  <label>New Password</label>
                                  <input class="form-control" type="password" placeholder="••••••">
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col">
                                <div class="form-group">
                                  <label>Confirm <span class="d-none d-xl-inline">Password</span></label>
                                  <input class="form-control" type="password" placeholder="••••••"></div>
                              </div>
                            </div>
                          </div>
                          
                        </div>
                        <div class="row">
                          <div class="col d-flex justify-content-end">
                            <a href="{% url 'profile' %}" class="btn btn-danger" type="submit" style="margin: 10px 10px">Cancel</a>
                            <button class="btn btn-primary" type="submit" style="margin: 10px 10px">Save Changes</button>
                          </div>
                        </div>
                      </form>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


        </div>

      </div>
    </div>
    </div>



{% endblock %}