{% extends 'base.html' %}
{% load static %}

{% block title %}Register{% endblock title %}

{% block content %}


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css" integrity="sha256-3sPp8BkKUE7QyPSl6VfBByBroQbKxKG7tsusY2mhbVY=" crossorigin="anonymous" />
    <link rel="stylesheet" href="/static/auth/register.css">

    <br><br><br><br><br><br><br><br><br><br>

    <div class="container">
        <div class="row">
            <div class="col-md-11 mt-60 mx-md-auto">
                <div class="login-box bg-white pr-lg-5 pr-0">
                    <div class="row no-gutters align-items-center" style="margin: 0px 0px">
                        <div class="col-md-6 order-md-last">
                            <div class="form-wrap bg-white">
                                <h4 class="btm-sep pb-3 mb-5">Register</h4>
                                <form class="form" method="post" action="#">
                                    {% csrf_token %}
                                    <div class="row">
{#                                                fields = ['first_name', 'last_name', 'username', 'email', 'password1', 'password2']#}

                                        <div class="col-12">
                                            <div class="form-group position-relative">
                                                <span class="zmdi zmdi-account"></span>
                                                {{ form.first_name }}
                                            </div>
                                        </div><br><br>
                                        <div class="col-12">
                                            <div class="form-group position-relative">
                                                <span class="zmdi zmdi-account"></span>
                                                {{ form.last_name }}
                                            </div>
                                        </div><br><br>
                                        <div class="col-12">
                                            <div class="form-group position-relative">
                                                <span class="zmdi zmdi-account"></span>
                                                {{ form.username }}
                                            </div>
                                        </div><br><br>
                                        <div class="col-12">
                                            <div class="form-group position-relative">
                                                <span class="zmdi zmdi-email"></span>
                                                {{ form.email }}
                                            </div>
                                        </div><br><br>
                                        <div class="col-12">
                                            <div class="form-group position-relative">
                                                <span class="zmdi zmdi-lock"></span>
                                                {{ form.password1 }}
                                            </div>
                                        </div><br><br>
                                        <div class="col-12">
                                            <div class="form-group position-relative">
                                                <span class="zmdi zmdi-lock"></span>
                                                {{ form.password2 }}
                                            </div>
                                        </div><br><br>

                                        <div class="col-12">
                                            <button type="submit" id="submit" class="btn btn-lg btn-custom btn-dark btn-block">
                                                Sign Up
                                            </button>
                                        </div>

                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-6 order-md-first">
                            <div class="content text-center">
                                <div class="border-bottom pb-5 mb-5">
                                    <h3 class="c-black">Already have an account?</h3>
                                    <a href="{% url 'login' %}" class="btn btn-custom">sign In</a>
                                </div>
                                <h5 class="c-black mb-4 mt-n1">Or Sign Up With</h5>
                                <div class="socials">
                                    <a href="#" class="zmdi zmdi-facebook"></a>
                                    <a href="#" class="zmdi zmdi-twitter"></a>
                                    <a href="#" class="zmdi zmdi-google"></a>
                                    <a href="#" class="zmdi zmdi-instagram"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<br><br><br><br><br><br><br><br>

{% endblock content %}
