{% extends "base.html" %}
{% block content %}


    <div id="portfolio" class="our-portfolio section">
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <div class="section-heading wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.3s">
                <h6>Programming</h6>
                <h4>Learning Centers that teach <em>{{ category.name }}</em></h4>
                <div class="line-dec"></div>
              </div>
            </div>
              <div class="col-lg-6">
                  <div class="section-heading wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.3s">
                      <br><br>
                      <li class="scroll-to-section"><div class="border-first-button">
                          <h3>
                              <a href="{% url 'dashboard' %}#centers">🔙 Back</a>
                          </h3>
                      </div></li>
                  </div>
              </div>
        </div>
        <div class="container-fluid wow fadeIn" data-wow-duration="1s" data-wow-delay="0.7s">
          <div class="row">
            <div class="col-lg-12">
              <div class="loop owl-carousel">
                  {% for center in learning_centers %}
                        <div class="item">
                          <a href="{% url 'center_detail' slug=center.slug %}">
                            <div class="portfolio-item">
                            <div class="thumb">
                             <img src="{{ center.image.url }}" alt="center image" style="height: 200px; object-fit: cover">

                            </div>
                            <div class="down-content">
                              <h4>
                                    {{ center.name }}
                              </h4>
                              <span>
                                    {{ center.created_at }}
                              </span>
                            </div>
                          </div>
                          </a>
                        </div>
                  {% endfor %}

              </div>
            </div>
          </div>
        </div>
    </div>




{% endblock %}
