{% extends "base.html" %}
{% block content %}

    <div id="portfolio" class="our-portfolio section">

        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <div class="section-heading wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.3s">
                  <h6>Programming Learning Center</h6>
{#                <h4>See Our Recent <em>Projects</em></h4>#}
                  <h4>{{ center.name }}</h4>
                  <div class="line-dec"></div>
              </div>
            </div>
          </div>
        </div>
    </div>

{% endblock %}
